{% extends './plantilla2.html' %}
{% block contenido %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.18/index.global.min.js"></script>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <br>
        <h2>Gestión de Denuncias por Calendario</h2>
        <br>
        <div id="calendar"></div>
    </div>
    <div class="col-md-1"></div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const calendarEl = document.getElementById('calendar');
    var temas = JSON.parse('{{ temas_json|escapejs }}');

    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      locale: 'es',
      events: temas,  // Agrega los eventos cargados desde la vista
      eventClick: function(info) {
        // Redirigir a la URL definida en el evento
        window.location.href = info.event.url;
      }
    });

    calendar.render();
  });
</script>

{% endblock %}
