{% extends "plantilla.html" %}

{% block contenido %}
<div class="container mt-5">
    <h2>Listado de Denuncias</h2>
    <table class="table table-bordered" id="tbl_denuncias">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tipo</th>
                <th>Descripción</th>
                <th>Ciudadano</th>
                <th>Estado</th>
                
            </tr>
        </thead>
        <tbody>
            {% for denuncia in denuncias %}
            <tr>
                <td>{{ denuncia.id }}</td>
                <td>{{ denuncia.tipo }}</td>
                <td>{{ denuncia.descripcion }}</td>
                <td>{{ denuncia.ciudadano.nombre }} {{ denuncia.ciudadano.apellido }}</td>
                <td>{{ denuncia.estado }}</td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="6">No hay denuncias registradas.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    // modulo de prueba
        $(document).ready(function() {
           $('#tbl_denuncias').DataTable({
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json'
                },
                dom: 'Bfrtip',
                buttons: [
                    'pdf'
                ]
            });
        });
    </script>
{% endblock %}