{% extends "plantilla.html" %}

{% block contenido %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-md-8">
        <div class="card shadow-lg rounded-4">
            <div class="card-body p-5">
                <div class="text-center mb-4">
                <h3>Editar Denuncia</h3>
                <p class="text-muted">Recuerde que al editar la denuncia como funcionario, solo para corregir ortografia o caligrafia</p>
            
                </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="tipo" class="form-label">Tipo de Denuncia</label>
                        <input type="text" class="form-control" id="tipo" readonly name="tipo" value="{{ denuncia.tipo }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" rows="4" required>{{ denuncia.descripcion }}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="estado" class="form-label">Estado</label>
                        <input type="text" class="form-control" id="estado" readonly name="estado" value="{{ denuncia.estado }}" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                    <a href="{% url 'panel_funcionario' %}" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}